.circle_green {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(122, 207, 31);
  border-radius: 50%;

  display: inline-block;
}
.circle_pink {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(247, 135, 235);
  border-radius: 50%;

  display: inline-block;
}
.slot1 {
  display: inline-block;
}
.slot2 {
  display: inline-block;
}
.slot3 {
  display: inline-block;
}
.wrapper {
  position: relative;
  margin: 150px 0 0 -200px;
  padding: 5px;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
}
