.circle_None {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(255, 255, 255);
  border-radius: 50%;

  display: inline-block;
}
.circle_green {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(31, 207, 113);
  border-radius: 50%;

  display: inline-block;
}
.circle_lightgreen {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(163, 233, 89);
  border-radius: 50%;

  display: inline-block;
}
.circle_pink {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(247, 135, 235);
  border-radius: 50%;

  display: inline-block;
}

.circle_red {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(235, 82, 82);
  border-radius: 50%;

  display: inline-block;
}
.circle_yellow {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(238, 255, 0);
  border-radius: 50%;

  display: inline-block;
}
.circle_darkyellow {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(185, 177, 83);
  border-radius: 50%;

  display: inline-block;
}
.circle_blue {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(0, 123, 255);
  border-radius: 50%;

  display: inline-block;
}
.circle_darkblue {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgba(0, 47, 255, 0.504);
  border-radius: 50%;

  display: inline-block;
}
.circle_orange {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(255, 170, 0);
  border-radius: 50%;

  display: inline-block;
}
.circle_darkorange {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(129, 81, 8);
  border-radius: 50%;

  display: inline-block;
}
.circle_purple {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(183, 0, 255);
  border-radius: 50%;

  display: inline-block;
}
.circle_lightpurple {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 15px solid rgb(204, 121, 243);
  border-radius: 50%;

  display: inline-block;
}
.slot1 {
  display: inline-block;
}
.wrapper {
  position: relative;
  margin: 150px 0 0 -200px;
  padding: 5px;
  height: 1000px;
  width: 1000px;
  top: 50%;
  left: 50%;
}
