@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.top {
  align-items: flex-start;
  padding-left: 15px;
  padding-top: 5px;
}

.web-title {
  font-family: "Jua", sans-serif;
  text-align: center;
  font-size: 50px;
  text-shadow: 3px 3px #cf90ee;
}

.middle {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.App-link {
  color: #61dafb;
}

.space {
  width: 150px;
  min-width: 100px;
}

.bottom {
  background-color: #e8d9f0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}
.inline {
  display: inline-block;
}
.p_top {
  margin: 0;
  padding-left: 15px;
}

.p_bottom {
  margin: 0;
  padding-left: 15px;
}
