@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.Weather {
  font-family: "Jua", sans-serif;
  font-size: 20px;
  min-width: 150px;
  border-style: double;
  border-width: thick;
  text-align: center;
}

.top {
  align-items: flex-start;
}

.web-title {
  font-family: "Jua", sans-serif;
  text-align: center;
  font-size: 50px;
  text-shadow: 3px 3px #cf90ee;
}

.middle {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.MapHeader {
  background-color: #fcfcfc;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.space {
  width: 150px;
}

.bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}
.inline {
  display: inline-block;
}
.p_top {
  margin: 0;
  padding-left: 15px;
}

.p_bottom {
  margin: 0;
  padding-left: 15px;
}
