@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.Weather {
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  padding: 20px;
}

.Weather li {
  list-style-type: none;
}

.Weather_header {
  font-size: 25px;
}

.Weather_data {
  text-align: left;
}
