@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.Weather {
  font-family: "Jua", sans-serif;
  font-size: 30px;
  padding: 20px;
  width: 430px;
  min-width: 350px;
  height: 550px;
  min-height: 450px;
  overflow: hidden;
  border-radius: 13px;
  border-style: double;
  border-width: thick;
}

.Weather li {
  list-style-type: none;
}

.Weather_header {
  font-size: 28px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-bottom-right-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  box-shadow: 5px 5px 3px rgb(218, 161, 230);
}

.Weather_data {
  padding-top: 15px;
  text-align: left;
}
